=antialiased
  -webkit-font-smoothing: antialiased

=transformsFix
  -webkit-backface-visibility: hidden


=large-form-placeholder
  ::-webkit-input-placeholder
    color: $grayLighter
    font:
      size: 20px
      weight: 100
    +antialiased

=bgImage($image, $imgsPath: $imagesPath)
  background-image: url("#{$imgsPath}/#{$image}")

=coverImageHeight($height: $coverImageHeight, $height-xs: $coverImageHeight-xs)
  min-height: $height
  @media screen and (max-width: $screen-xs)
    min-height: $height-xs


// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

=filter( $var )
  -webkit-filter: $var
  -moz-filter: $var
  -ms-filter: $var
  -o-filter: $var
  filter: $var

=svg-bg($name, $extension: png, $color: transparent, $position: 0 0, $repeat: no-repeat, $imgsPath: $imagesPath)
  background: url("#{$imgsPath}/#{$name}.#{$extension}") $color $position $repeat
  background: none url("#{$imgsPath}/#{$name}.svg") $color $position $repeat

=svg-bg-image($name, $imgsPath: $imagesPath)
  background-image: url("#{$imgsPath}/#{$name}.png")
  background-image: url("#{$imgsPath}/#{$name}.svg")

=display-box
  display: -webkit-box
  display: -moz-box
  display: box
