.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
bower_components
node_modules
build
.bundle
.sass-cache
.tmp
source/stylesheets/app
source/javascripts/application
source/vendor
vendor
*.log
.DS_Store
.rbenv-version
.ruby-version
.ruby-gemset
coverage