- p = locals[:p]
- default_url = locals[:default_url]

- if p.image.present?
  .project-image-block
    - if default_url.present?
      = link_to default_url, target: '_blank' do
        = partial 'work/project_block_image', locals: {image: p.image}
    - else
      = partial 'work/project_block_image', locals: {image: p.image}

