---
body_class: services-page body-navbar-white
navbar_state: active
---

- @projects_list = data.projects
- @projects_work = data.work
- @projects = @projects_work.merge(@projects_list).sort {|a, b| Date.parse(b[1].date) <=> Date.parse(a[1].date) }

= partial 'work/projects_list', locals: {projects: @projects}


