---
body_class: services-page
navbar_state: active
---

.work-page
  = partial 'welcome/projects'
  - projects = data.projects
  .projects-container
    - projects.each do |p|
      .project-container
        -#.container
        = partial "work/project_block", locals: {p: p}

