---
body_class: services-page
navbar_state: active
---

.work-page
  = partial 'welcome/projects'
  - projects = data.projects
  .projects-container
    - projects.each do |p|
      %a{name: p.slug}
      %div{ class: "project-container project-container-#{p.slug}"}
        -#.container
        = partial "work/project_block", locals: {p: p}

